<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="BB 21st Portal">
  <title>BB 21st Portal</title>
  <link rel="apple-touch-icon" href="assets/apple-touch-icon-icon-ae547fa62cf4ee3a40efcdbd9a842e216431c339d09adee3833a4a6dcf59006e.png">
  <link rel="icon" href="assets/bb-logo-removebg-preview-0aab61d8cbe7db35603722d926ab237b8553e43b62fd0ff6d113b9ee5aaeaca6.png">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>